<app-header></app-header>

<div class="container">

    <div class="row">
        <div class="col-md-12">
            <div class="d-flex justify-content-between">
                <div class="col">
                    <h4 >Users Table</h4> 
                </div>
                <div class="col ">
                    <button class="btn pull-right" data-toggle="modal" data-target="#addmyModal">Add User<i class="material-icons">add</i></button>
                </div> 
            </div>
            
        </div>
        <div class="col-lg-8 col-md-10 ml-auto mr-auto">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="text-center">#</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Phone No</th>

                            <th class="text-right">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let user of usersdata;index as i">
                            <td class="text-center">{{i+1}}</td>
                            <td>{{user.username}}</td>
                            <td>{{user.email}}</td>
                            <td>{{user.phone}}</td>
                            <td class="td-actions text-right">

                                <button type="button" rel="tooltip" class="btn btn-success btn-just-icon btn-sm mr-1"
                                    (click)="editUser(user.id)" data-toggle="modal" data-target="#myModal" data-original-title="" title="">
                                    <i class="material-icons">edit</i>
                                </button>
                                <button (click)="deleteUser(user.id)" type="button" rel="tooltip" class="btn btn-danger btn-just-icon btn-sm"
                                    data-original-title="" title="" data-toggle="modal" data-target="#exampleModal">
                                    <i class="material-icons">close</i>
                                </button>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>


        </div>



    </div>
</div>
<!-- The Modal -->
<div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Update Users</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
            <form name="form" (ngSubmit)="f.form.valid" #f="ngForm"  novalidate>
                <div class="form-group">
                    <label for="username">User Name</label>
                    <input type="text" class="form-control" name="username" [(ngModel)]="editmodal.username"
                    #username="ngModel" [ngClass]="{ 'is-invalid': f.submitted && username.invalid }" required />
                    <div *ngIf="f.submitted && username.invalid" class="invalid-feedback">
                        <div *ngIf="username.errors.required">User Name is required</div>
                    </div>
                </div>
               
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text" class="form-control" name="email" [(ngModel)]="editmodal.email" #email="ngModel" [ngClass]="{ 'is-invalid': f.submitted && email.invalid }" required email />
                    <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
                        <div *ngIf="email.errors.required">Email is required</div>
                        <div *ngIf="email.errors.email">Email must be a valid email address</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="phone">Phone</label>
                    <input type="number" class="form-control" name="phone" [(ngModel)]="editmodal.phone" #phone="ngModel" [ngClass]="{ 'is-invalid': f.submitted && phone.invalid }" required />
                    <div *ngIf="f.submitted && phone.invalid" class="invalid-feedback">
                        <div *ngIf="phone.errors.required">phone is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary" data-dismiss="modal" (click)="onUpdateSubmit()">Update User</button>
                </div>
            </form>    
        </div>
      </div>
    </div>
  </div>

<!-- The Modal -->
<div class="modal" id="addmyModal">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Add Users</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
            <form name="form" (ngSubmit)="f.form.valid" #f="ngForm"  novalidate>
                <div class="form-group">
                    <label for="username">User Name</label>
                    <input type="text" class="form-control" name="username" [(ngModel)]="usermodal.username"
                    #username="ngModel" [ngClass]="{ 'is-invalid': f.submitted && username.invalid }" required />
                    <div *ngIf="f.submitted && username.invalid" class="invalid-feedback">
                        <div *ngIf="username.errors.required">User Name is required</div>
                    </div>
                </div>
                <div class="form-group">
                        <label for="password">Password</label>
                        <input type="text" class="form-control" name="password" [(ngModel)]="usermodal.password"
                        #password="ngModel" [ngClass]="{ 'is-invalid': f.submitted && password.invalid }" required />
                        <div *ngIf="f.submitted && password.invalid" class="invalid-feedback">
                            <div *ngIf="password.errors.required">Password is required</div>
                        </div>
                    </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text" class="form-control" name="email" [(ngModel)]="usermodal.email" #email="ngModel" [ngClass]="{ 'is-invalid': f.submitted && email.invalid }" required email />
                    <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
                        <div *ngIf="email.errors.required">Email is required</div>
                        <div *ngIf="email.errors.email">Email must be a valid email address</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="phone">Phone</label>
                    <input type="number" class="form-control" name="phone" [(ngModel)]="usermodal.phone" #phone="ngModel" [ngClass]="{ 'is-invalid': f.submitted && phone.invalid }" required />
                    <div *ngIf="f.submitted && phone.invalid" class="invalid-feedback">
                        <div *ngIf="phone.errors.required">phone is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary" data-dismiss="modal" (click)="addUser()">Add User</button>
                </div>
            </form>    
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">DELETE</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              Do you want to delete this?
            </div>
            <div class="modal-footer">
              <!-- <button type="button" class="btn btn-secondary" (click)="closeModal('exampleModal')" data-dismiss="modal">NO</button> -->
              <button type="button" class="btn btn-primary" (click)="confirmDelete()" data-dismiss="modal">YES</button>
            </div>
          </div>
        </div>
      </div>